#root {
  margin: 0 auto;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.draggable-area {
  -webkit-app-region: drag;
  app-region: drag;
  z-index: 50;
}

/* Make sure other interactive elements are not draggable */
button,
input,
select,
a {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
